<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
    </ion-buttons>
    <ion-title>events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-events-card status="Visita medica" updatedAt="25/04/2021 16:29" createdAt="24/04/2021" 
  notes="prima nota"></app-events-card>
  
  <app-events-card status="Ristorante con amici" updatedAt="24/04/2021 10:00" createdAt="23/04/2021"
  notes="seconda nota"></app-events-card>

  <app-events-card status="Colloquio di lavoro" updatedAt="12/09/2021 17:56" createdAt="10/09/2021"></app-events-card>
</ion-content>
