<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
    </ion-buttons>
    <ion-title>Aggiungi nuovo evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>Crea nuovo evento</ion-card-title>
    <ion-item>
      <ion-label position="floating" color="tertiary">Titolo</ion-label>
      <ion-input type="text" color="tertiary"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="tertiary">Data</ion-label>
      <ion-input type="text" color="tertiary"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="tertiary">Note</ion-label>
      <ion-input type="text" color="tertiary"></ion-input>
    </ion-item>
  </ion-card>
  <ion-button color="warning" shape="round" size="full" (click)="home()">Aggiungi</ion-button>
</ion-content>
